{% extends "base.html" %} {% block container %}

<div class="jumbotron">
    <div class="container" style="padding: 0 15px;">
        <div class="row" id="sec-0">
            <div class="col-md-9 col-md-offset-1">
                <h1>Instant Voice Chat</h1>
                <div class="col-md-10" style="padding-left:0px;">
                    <p class="bt-space">
                        <i><b>FREE LOGIN, FREE INSTALL</b></i>&nbsp;&nbsp;Voice Chatting Service
                    </p>
                    <p>
                        <button class="btn btn-hg btn-embossed btn-info bt-space" onclick="createConference()">Click to create NEW chatting room NOW!</button>
                    </p>
                    <p>
                        <a href="/#nav">
                            <button class="btn btn-lg btn-embossed btn-warning">Learn more</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="nav">
    <div class="col-md-10 col-md-offset-1">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a href="/">
                    <img src="../static/img/voicechatapi_logo.png" alt="voice chat api logo" style="min-width: 100px;
padding: 10px;max-width: 150px;margin-right: 100px;" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#sec-1">How to use</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row" id="sec-1">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="center bottom-spacing">Simple Three Steps.</h3>
        <div class="progress center">
            <h6 class="steps" href="#" style="left: 25%;">Create</h6>
            <h6 class="steps" href="#" style="left: 50%;">Share</h6>
            <h6 class="steps" href="#" style="left: 75%;">Join</h6>
            <p class="slider" href="#" style="left: 25%;">1</p>
            <p class="slider" href="#" style="left: 50%;">2</p>
            <p class="slider" href="#" style="left: 75%;">3</p>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 jumbotron-p">
        <p>1. <b>Create</b> a conference room via the button below, through one of our <a href="http://voicechatapi.com/#sec-2">integrations</a> or build your own integration via <a href="http://voicechatapi.com/#sec-3">our API</a>.</p>
        <p class="bt-space">
            <button class="btn btn-hg btn-embossed btn-info" onclick="createConference()">Create your voice chat room now</button>
        </p>
        <p>2. <b>Share</b> the URL of the room with anyone you'd like to chat with.</p>
        <div class="form-group has-success bt-space">
            <p style="display:inline-block">For example:</p>
            <input type="text" value="http://voicechatapi.com/p1k2691b1/?share" class="form-control" onclick="this.select()" style="display:inline-block;width:50%;">
        </div>
        <p>3. <b>Join</b> your conference room and start talking.</p>
        <p>Note: your private conference room can be accessed by anyone with the URL. All rooms will be automatically disposed of after 24 hours from the time of creation. To create another room, simply repeat step one.</p>
    </div>
</div>

{% endblock %} {% block js %}
<script type="text/javascript">
function createConference() {
    $.ajax({
        'url': '/api/v1/conference/',
        'type': 'POST',
        'success': function(data) {
            window.location.href = "/" + data['conference_name'] + "/";
        }
    });
}
</script>
<script src="/static/js/prism.js"></script>
{% endblock %}
